<div id="main">
    <div class="index">
    <h1>{{title}}
        <span>Choose the instrument</span>
    </h1>
    </div>

    <div class="link">
    <a href="/user1">Cello</a>
        <a href="/user2">Violin</a>
    </div>
    
</div>


