<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <!-- trple hundlebars is a horthand for a router view -->
    {{{body}}}
      
      {{!-- <a href="/user1">Cello</a>
      <a href="/user2">Violin</a> --}}
  </body>
</html>
