<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Anything under me is being rendered dynamically from the router</h1>
    <!-- trple hundlebars is a horthand for a router view -->
    {{{body}}}
      
      <a href="/user1">Designer</a>
      <a href="/user2">Developer</a>
    <h3>I live under the router view</h3>
  </body>
</html>
